.burger__btn {
  display: none;

  @media (max-width: 992px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.navbar {
  @media (max-width: 992px) {
    display: none;
  }
}

.login {
  @media (max-width: 992px) {
    display: none;
  }
}
