.feedback__item {
    width: 100%;
}

.arrow {
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-top-color: #F3F4F6;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}